@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-green: #3e827b;
  --main-color-yellow: #fdcd93;
  --main-color-lightgrey: #eee9e2;
  --accent-color-black: #132826;
  --accent-color-white: #fefdfb;
}

body {
  margin: 2em;
}

@layer components {
  .header-btn {
    @apply px-5 py-2 rounded-3xl bg-main-color-lightgrey text-accent-color-black text-sm 
            border-accent-color-black border  hover:bg-main-color-yellow;
  }
}

@layer utilities {
  .btn-blue {
    @apply bg-blue-200 hover:bg-blue-600;
  }

  .btn-red {
    @apply bg-red-500 hover:bg-red-600;
  }
}
