@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-green: #007e70;
  --main-color-yellow: #fdcd93;
  --main-color-lightgrey: #eee9e2;
  --accent-color-black: #132826;
  --accent-color-white: #fefdfb;
  --accent-color-darkyellow: #f6b76c;
}

body {
  margin: 2em;
  background: var(--main-color-green);
  font-family: "Josefin Sans";
}

@layer components {
  .header-container {
    @apply flex flex-row;
  }
  .header-btn {
    @apply px-5 py-1 rounded-2xl bg-main-color-lightgrey text-accent-color-black text-base font-semibold
            border-accent-color-black border font-josefin cursor-pointer shadow-sm hover:bg-accent-color-darkyellow;
  }
  .main-title {
    @apply text-accent-color-white;
  }
  .page-title {
    @apply text-4xl font-bold underline underline-offset-4 decoration-4 text-center text-main-color-lightgrey mt-16 mb-12;
  }
  .content-container {
    @apply p-2 flex flex-col justify-center items-center ml-auto mr-auto mb-auto mt-40;
  }
  .footer-container {
    @apply flex flex-row justify-center items-center m-auto mt-64 text-base text-accent-color-white;
  }
  .form-label {
    @apply block text-xl mt-5 mb-3 font-light leading-6 text-main-color-lightgrey;
  }
  .form-input {
    @apply block w-full rounded-md border-0 px-3 py-2.5 text-accent-color-black shadow-sm ring-1 ring-inset
         ring-gray-300 placeholder:text-gray-300 placeholder:text-base focus:ring-2 focus:ring-inset 
           focus:ring-accent-color-darkyellow sm:text-base sm:leading-6;
  }
  .form-submit-btn {
    @apply flex w-full justify-center rounded-md bg-main-color-yellow px-3 py-2.5 mt-16 text-xl font-semibold 
           leading-6 text-accent-color-black shadow-sm hover:bg-accent-color-darkyellow focus-visible:outline 
           focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-color-darkyellow;
  }
  .card {
    @apply flex flex-row justify-center items-center mx-auto text-2xl text-accent-color-black border-2 border-accent-color-black 
            rounded-xl cursor-pointer bg-main-color-lightgrey px-12 py-12 w-fit hover:shadow-xl 
            hover:border-accent-color-darkyellow;
  }
}

@layer utilities {
  .landing-title {
    @apply text-main-color-lightgrey text-6xl font-bold text-center;
  }
  .landing-subtitle {
    @apply text-main-color-lightgrey text-2xl font-normal text-center mt-4 mb-11;
  }
}
