@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-green: #007e70;
  --main-color-yellow: #fdcd93;
  --main-color-lightgrey: #eee9e2;
  --accent-color-mediumgrey: #e5dfd6;
  --accent-color-black: #132826;
  --accent-color-white: #fefdfb;
  --accent-color-darkyellow: #f6b76c;
  --accent-color-darkgreen: #00584d;
}

body {
  padding: 2em;
  background: var(--main-color-green);
  font-family: "Josefin Sans";
}

@layer components {
  .header-container {
    @apply flex flex-row;
  }
  .header-btn {
    @apply px-5 py-1 rounded-2xl bg-main-color-lightgrey text-accent-color-black text-base font-semibold
            border-accent-color-black border font-josefin cursor-pointer shadow-sm hover:bg-accent-color-darkyellow;
  }
  .page-title {
    @apply text-4xl font-bold underline underline-offset-4 decoration-4 text-center text-main-color-lightgrey mt-16 mb-12;
  }
  .content-container {
    @apply p-2 flex flex-col justify-center items-center ml-auto mr-auto mb-auto mt-40;
  }
  .footer-container {
    @apply flex flex-row justify-center items-center m-auto mt-8 text-base text-accent-color-white;
  }
  .form-label {
    @apply block text-xl mt-5 mb-3 font-light leading-6 text-main-color-lightgrey;
  }
  .form-input {
    @apply block w-full rounded-md border-0 px-3 py-2.5 text-accent-color-black shadow-sm ring-1 ring-inset
         ring-gray-300 placeholder:text-gray-300 placeholder:text-base focus:ring-2 focus:ring-inset 
           focus:ring-accent-color-darkyellow sm:text-base sm:leading-6;
  }
  .form-input-alternative {
    @apply bg-main-color-green text-main-color-lightgrey ring-0 border-0 border-b-2 border-main-color-lightgrey 
            rounded-none sm:text-base sm:leading-6;
  }
  .form-submit-btn {
    @apply flex w-full justify-center rounded-md bg-main-color-yellow px-3 py-2.5 mt-16 text-xl font-semibold 
           leading-6 text-accent-color-black shadow-sm hover:bg-accent-color-darkyellow focus-visible:outline 
           focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-color-darkyellow;
  }
  .card {
    @apply flex flex-row justify-center items-center mx-auto text-xl text-accent-color-black border-2 border-accent-color-black 
            rounded-xl cursor-pointer bg-main-color-lightgrey px-10 py-7 w-fit hover:shadow-xl 
             hover:bg-main-color-yellow;
  }
  .smallBtnCard {
    @apply flex flex-col justify-start bg-main-color-lightgrey py-2 px-6 mb-3 rounded-xl border-2 border-accent-color-black 
            hover:border-accent-color-darkyellow lg:px-8 lg:py-2 lg:mr-10;
  }
}

@layer utilities {
  .landing-title {
    @apply text-main-color-lightgrey text-6xl font-bold text-center;
  }
  .landing-subtitle {
    @apply text-main-color-lightgrey text-2xl font-normal text-center mt-4 mb-11;
  }
  .page-link {
    @apply flex justify-center items-center text-xl text-main-color-lightgrey mx-auto my-5 hover:text-accent-color-darkyellow;
  }
  .list-container {
    @apply bg-main-color-lightgrey mx-auto rounded-lg px-3 py-2 md:w-10/12 lg:w-9/12 lg:text-lg lg:px-8 border-2 border-accent-color-black h-96 overflow-y-scroll;
  }
  .list-container::-webkit-scrollbar {
    width: 16px;
  }
  .list-container::-webkit-scrollbar-track {
    background: var(--main-color-lightgrey);
    border-radius: 30px;
  }
  .list-container::-webkit-scrollbar-thumb {
    background-color: var(--accent-color-black);
    border-radius: 10px;
    border: 3px solid var(--main-color-lightgrey);
  }
  .list-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color-darkyellow);
    cursor: pointer;
  }
  .date-list-option {
    @apply flex items-center justify-evenly py-4 my-2 border-b-2 border-accent-color-black 
           hover:bg-accent-color-mediumgrey;
  }
  .profile-btn {
    @apply ml-auto mr-auto bg-main-color-yellow text-accent-color-black font-medium 
           cursor-pointer border-accent-color-black rounded-lg px-6 py-2 hover:bg-accent-color-darkyellow;
  }
  .profile-upper-container {
    @apply flex flex-col justify-center items-center md:w-8/12 ml-auto mr-auto text-main-color-lightgrey;
  }
  .profile-section-link {
    @apply flex mx-auto justify-start text-main-color-lightgrey text-xl border-b-2 py-7 my-3 
           cursor-pointer md:w-3/6 hover:text-accent-color-darkyellow hover:border-accent-color-darkyellow;
  }
  .about-top-line {
    @apply h-2 bg-main-color-lightgrey rounded-full px-4 lg:w-5/12 lg:mx-auto mb-32;
  }
  .about-bullet-point {
    @apply list-disc text-lg text-main-color-lightgrey mb-5 text-center lg:text-left lg:text-2xl lg:mb-8;
  }
}
